button, .button {
  background-color: transparent;
  border: 2px solid var(--color-light);
  border-radius: 5px;
  box-sizing: border-box;
  color: var(--color-light);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  line-height: 3rem;
  width: 3rem;
  height: 3rem;
  transition: all .3s;
  vertical-align: top;
  padding: .75rem;

  &:hover {
    border-color: var(--color-accent);
    color: var(--color-accent);
    cursor: pointer;
  }
}