.checkbox-wrapper {
  @include no-select;

  svg {
    transition: all .3s;
  }


  &:hover {
    border-color: var(--color-accent);
    color: var(--color-accent);
    cursor: pointer;
  }

  input {
    margin: 0;
    padding: 0;
    position: absolute;
    opacity: 0;
    width: 0;

    &:not(:checked) {
      ~ svg {
        opacity: 0;
      }
    }
  }


  // label {
  //   cursor: pointer;
  //   display: inline-block;

  //   input {
  //     opacity: 0;
  //     width: 0;

  //     &:checked {
  //       ~ .empty { display: none; }
  //     }

  //     &:not(:checked) {
  //       ~ svg {
  //         opacity: .8;
  //       }

  //       ~ .tick {
  //         display: none;
  //       }
  //     }

  //     &:focus {
  //       ~ .label {
  //         text-decoration: underline;
  //       }
  //     }

  //     ~ svg {
  //       height: 1em;
  //       margin-right: .3em;
  //       vertical-align: middle;
  //     }
  //   }

  //   .label {
  //     vertical-align: middle;
  //   }
  // }

}