#controls {
  background-color: var(--color-black);
  border-top: 1px solid var(--color-light);
  display: grid;
  grid-template-rows: repeat(3, fit-content(100%));
  grid-gap: $gutter;
  padding: $gutter;

  @media #{$lg} {
    grid-template-columns: 2fr 1fr;

    .controls__current {
      grid-column: span 2;
    }
  }

  .controls {
    &__actions {
      display: grid;
      grid-gap: math.div($gutter, 2);
      grid-template-areas:
        'skipT skipT skipB skipF play'
        'settg fulls prev next play';
      grid-template-columns: repeat(4, fit-content(100%)) 1fr;
      justify-content: end;

      > * {
        justify-self: end;
      }

      .fulls {
        grid-area: fulls;
      }

      .next {
        grid-area: next;
      }
      .play {
        font-size: 400%;
        grid-area: play;
        height: 100%;
        width: 100%;
      }

      .prev {
        grid-area: prev;
      }
      .settg {
        grid-area: settg;
      }

      .skipF {
        grid-area: skipF;
      }
      .skipT {
        grid-area: skipT;
      }
    }

    &__bars {
      display: grid;
      grid-gap: math.div($gutter, 2);
      grid-template-rows: 1fr 1fr;
    }

    &__current {
      color: var(--color-lighter);
    }
  }
}
