@use 'sass:math';

$grid-gap: 1em;

#filebrowser {
  .filebrowser {
    &__actions {
      align-items: end;
      background-color: var(--color-black);
      border-bottom: 1px solid var(--color-light);
      display: grid;
      grid-gap: $grid-gap;
      grid-template-columns: 1fr auto auto;
      padding: math.div($grid-gap, 2) $grid-gap;
    }

    &__breadcrumbs {
      justify-content: space-between;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      max-width: 100%;
      text-overflow: ellipsis;
      transition: all .3s;
      white-space: nowrap;

    }

    &__current {
      font-size: 1.5em;
      word-wrap: anywhere;
    }

    &__items {
      overflow-y: scroll;
      max-height: 100%;
    }

    &__item {
      border-bottom: 1px solid var(--color-dark);
      display: grid;
      grid-gap: $grid-gap;
      grid-template-columns: 1fr auto;
      margin: math.div($grid-gap, 2) $grid-gap;
      padding-bottom: math.div($grid-gap, 2);


      &.dir {
        cursor: pointer;
      }

      &-info {
        overflow: hidden;
        // text-overflow: ellipsis;
        // width: 100%;
      }

      &-name {
        text-overflow: ellipsis;
        overflow: hidden;
        // width: 100%;
        white-space: nowrap;
      }

      &-ext {
        font-style: italic;
        font-size: .8em;
        margin-top: 1em;
      }
    }

    &__parents {
      align-items: center;
      display: flex;

      div {
        cursor: pointer;
        font-weight: bold;
        padding: 0 .5em;

        &:first-child { padding-left: 0; }
        &:last-child { padding-right: 0; }

        &:hover {
          color: var(--color-accent);
        }
      }
    }
  }
}