$grid-gap: 1em;
$item-margin: .5em 1em;

#filebrowser {
  .filebrowser {
    &__actions {
      align-items: end;
      display: grid;
      grid-gap: $grid-gap;
      grid-template-columns: 1fr auto;
      margin: $item-margin;
    }

    &__current {
      word-wrap: anywhere;
    }

    &__path {
      justify-content: space-between;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      max-width: 100%;
      text-overflow: ellipsis;
      transition: all .3s;
      white-space: nowrap;

    }

    &__items {
      overflow-y: scroll;
      max-height: 100%;
    }

    &__item {
      display: grid;
      grid-gap: $grid-gap;
      grid-template-columns: 1fr auto;
      margin: $item-margin;

      &.dir {
        background-color: var(--color-dark);
      }

      &-name {
        overflow: hidden;
        text-overflow: ellipsis;
        transition: all .3s;
        // text-align: left;
        white-space: nowrap;
        width: 100%;

        &:hover {
          color: var(--color-lighter);
        }

      }
    }
  }
}