#filebrowser {
  background-color: var(--color-darker);
  display: flex;

  &.--visible {
    bottom: 0;
    left: $gutter;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    .filebrowser__browser {
      display: block;
    }
  }

  .filebrowser {
    &__browser {
      display: none;
      width: 100%;
    }

    &__actions {
      align-items: end;
      background-color: var(--color-black);
      border-bottom: 1px solid var(--color-light);
      display: grid;
      grid-gap: $gutter;
      grid-template-columns: 1fr auto;
      padding: math.div($gutter, 2) $gutter;
    }

    &__breadcrumbs {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: all 0.3s;
      white-space: nowrap;
    }

    &__buttons {
      button {
        margin: 0 math.div($gutter, 4);

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &__current {
      font-size: 1.5em;
      word-wrap: anywhere;
    }

    &__handle {
      @include hover(var(--color-accent), color);
      align-items: center;
      background-color: var(--color-black);
      display: flex;
      justify-content: center;
      padding: $gutter;

      @media #{$lg} {
        display: none;
      }
    }

    &__items {
      overflow-y: scroll;
      max-height: 100%;
    }

    &__item {
      border-bottom: 1px solid var(--color-dark);
      display: grid;
      grid-gap: $gutter;
      grid-template-columns: 1fr auto;
      margin: math.div($gutter, 2) $gutter;
      padding-bottom: math.div($gutter, 2);

      &.dir {
        @include hover(var(--color-accent), border-color, color);
        cursor: pointer;
        transition: all 0.3s;
      }

      &-info {
        overflow: hidden;
      }

      &-name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &-ext {
        font-size: 0.7em;
        font-style: italic;
        margin-top: 0.5em;
        text-align: right;
      }
    }

    &__parents {
      align-items: center;
      display: flex;

      div {
        @include hover(var(--color-accent), color);
        cursor: pointer;
        font-weight: bold;
        padding: 0 0.5em;

        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
}
