@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#password {
  padding: #{$gutter * 2};
  text-align: center;

  button {
    width: auto;

    svg {
      animation: spin linear infinite 2s;
    }
  }

  .password {
    &__loading {
      animation: spin linear infinite 2s;
      margin: #{$gutter * 4};
      max-height: 400px;
      max-width: 400px;
      height: 40vw;
      width: 40vw;
    }

    &__form {
      display: grid;
      font-size: 2rem;
      grid-template-rows: repeat(4, auto);
      grid-gap: $gutter;
      margin: auto;
      max-width: 400px;
    }

    &__error {
      background-color: var(--color-accent);
      color: var(--color-darker);
      padding: $gutter;
    }
  }
}
