#playlist {
  .playlist {
    &__items {
      background-color: var(--color-lighter);
      box-sizing: border-box;
      color: var(--color-darker);
      display: grid;
      grid-auto-rows: max-content;
      grid-gap: $gutter;
      grid-template-columns: 1fr;
      overflow-x: hidden;
      overflow-y: auto;
      padding: $gutter;
      height: 100%;
    }

    &__item {
      border-left: 0 solid transparent;
      display: grid;
      grid-gap: $gutter;
      grid-template-columns: 1fr auto;
      transition: all 0.3s;
      white-space: nowrap;

      &.--current {
        border-left-color: var(--color-accent);
        border-left-width: $gutter / 2;
        color: var(--color-accent);
        padding-left: $gutter / 2;
      }

      &-name {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:hover {
          color: var(--color-accent);
        }
      }
    }
  }
}
