#playlist {
  .playlist {
    &__items {
      background-color: var(--color-lighter);
      box-sizing: border-box;
      color: var(--color-darker);
      display: grid;
      grid-auto-rows: max-content;
      grid-gap: $gutter;
      grid-template-columns: 1fr;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      padding: math.div($gutter, 2) $gutter;
    }

    &__item {
      border-left: 0 solid transparent;
      display: grid;
      grid-gap: $gutter;
      grid-template-columns: 1fr auto;
      transition: all 0.3s;
      white-space: nowrap;

      &.--current {
        border-left-color: var(--color-accent);
        border-left-width: math.div($gutter, 2);
        color: var(--color-accent);
        font-weight: bold;
        padding-left: math.div($gutter, 2);
      }

      &-name {
        @include hover(var(--color-accent), color);
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: all 0.3s;
        white-space: nowrap;
      }
    }
  }
}
